@font-face {
  font-family: 'Pricedown';
  src: url('./fonts/pricedown.otf') format('opentype'); /* Must match filename exactly! */
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Pricedown", sans-serif; 
}